html{
    scroll-behaviour: smooth;
    }
    
*{
    margin: 0%;
    padding: 0%;
}

body{
    background-image: url(background.jpg);

}
/***** home *****/
#home {
    height: 100vh;
}

ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px;   
}

a{
    color: antiquewhite;
    text-transform: capitalize;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    padding: 10px 20px;
    background-color:  rgba(26, 24, 24, 0.616);
    border-radius: 5px;
    font-size: 20px;
    transition: 500ms;
    border: 2px solid blue;
}

a:hover{
    border: 2px solid yellow;
    background-color: blue;
    color: yellow;
    box-shadow: 0 0 26px 4px blue;
    transform: scale(1.05);
}

.home{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/***** home content*****/
.home-content{
    height: 75%;
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-image: url(background.jpg);
    border-radius: 15px;
    box-shadow: 10px 10px 20px #050506, -10px -10px 20px #151516;
}

.home-content:hover{
    box-shadow: 10px 10px 10px #050506, -10px -10px 10px #151516;
}

.home-content__img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    border: 10px solid #0d0d0e;
    box-shadow: 10px 10px 30px #000000, -10px -10px 30px rgb(31, 45, 243);
    transition: 600ms;
    filter: grayscale(0);
}

.home-content__img:hover{
    box-shadow: 10px 10px 30px rgb(31, 45, 243), -10px -10px 30px #000000;
    filter: grayscale(0%);
    animation: ani 2600ms linear infinite;
    transform: scale(1.05);
}

.home-content__para{
    color: black;
    text-align: right;
    line-height: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    font-size: 23px;
}
/***** foooter *****/
.footer_title {
    color: antiquewhite;
    font-size: 2rem;
    margin-bottom: var(--mb-4);
    text-align: center;
  }

.contact-content__icons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 30px;
}
.fa {
    padding: 20px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 400ms;
}
.fa-twitter:hover {
    color: #000000;
    background: #55ACEE;
    box-shadow: 0 0 12px 2px #55ACEE;
}
.fa-google:hover {
    background: red;
    box-shadow: 0 0 12px 2px green;
}
.fa-github:hover {
    color: #000000;
    background: white;
    box-shadow: 0 0 12px 2px wheat;
}
.fa-facebook:hover {
    color: #000000;
    background: blue;
    box-shadow: 0 0 12px 2px white;
}
.fa-instagram:hover {
    font-weight: 500;
    background: crimson;
    box-shadow: 0 0 12px 2px crimson;
}
footer {
    height: 20vh;
}
h2 {
    text-align: center;
    margin-top: 2rem;
    color: white;
}
/***** End foooter *****/

@keyframes ani {
    25% {
        box-shadow: 10px -10px 30px #2f2f2f2a, -10px 10px 30px #000000;
    }
    50% {
        box-shadow: -10px 10px 30px #2f2f2f2a, 10px -10px 30px #000000;
    }
    75% {
        box-shadow: 10px 10px 30px #2f2f2f2a, -10px -10px 30px #000000;
    }
    100%{
        box-shadow: 10px 10px 30px #000000, -10px -10px 30px #2f2f2f2a;
    }
}

  /***** responsive *****/
  /***** home /responsive *****/
@media screen and (max-width:320px) {
    .a {
        font-size: 10px;
    }
    .home-content{
        flex-direction: column;
    }
     .home-content__para {
        font-size: 15px;
    }
    .home-content__img {
        width: 130px;
        height: 130px;
    }
}

@media screen and (max-width:425px) {
    a {
        font-size: 13px;
    }
    .home-content{
        flex-direction: column;
    }
    .home-content__para {
        font-size: 15px;
        line-height: normal;
    }
    .home-content__img {
        width: 130px;
        height: 130px;
    }
}

@media screen and (max-width:500px) {
    a {
        font-size: 15px;
    }
    .home-content {
        flex-direction: column;
        width: 50px;
    }
    .home-content__para {
        font-size: 15px;
        line-height: normal;
    }
    .home-content__img {
        width: 130px;
        height: 130px;
    }
}

@media screen and (max-width:760px) {
    a {
        font-size: 12px;
    }
    .home-content {
        flex-direction: column;
        width: 60px;
    }
    .home-content__para {
        font-size: 20px;
        line-height: normal;
    }
    .home-content__img {
        width: 160px;
        height: 160px;
    }
}
